body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{ 
    display: flex;
    flex-direction: column;
    height: 580px;
    width: 400px;
     border: black 2px solid; 
    background-color: rgb(99, 96, 96);
    border-radius: 20px;
}

#display{
    height:   100px;
    margin: 12px;
    background: rgb(200, 247, 200);
    border-radius: 8px;
    border: 1px solid black;

}
.row1 #solar{
    height: 60px;
    width: 190px;
    margin: 5px;
    border-radius: 8px;
    align-self: center;
    background-color: rgb(8, 8, 105);
}
.functions{
background-color: lightslategray;
}
.functions:hover{
    background-color: rgb(125, 137, 150);
}
.functions:active{
    height: 78px;
    width: 78px;
    background-color: rgb(100, 114, 128);
    border-radius: 8px;
    border: 2px solid black;

}
.row1 button{
    width: 170px;
    background-color: lightcoral;
}
.row1 button:hover{
    height: 81px;
    width: 171px;
    background-color: rgb(245, 150, 150);
    border-radius: 8px;
    box-shadow: 10px;
}
.row1 button:active{
    height: 78px;
    width: 168px;
    background-color: rgb(240, 83, 83);
    border-radius: 8px;
    border: 2px solid black;


}
button{
    margin: 5px;
    height: 80px;
    width: 80px;
    background-color: lightgrey;
    border-radius: 8px;
    font-size: 28px;
    
}
button:hover{
    height: 81px;
    width: 81px;
    background-color: rgb(236, 235, 235);
    border-radius: 8px;
}
.digits:active{
    height: 78px;
    width: 78px;
    background-color: rgb(173, 173, 173);
    border-radius: 8px;
    border: 2px solid black;


}
.rows{
    display: flex;
    justify-content: space-evenly;
}
.row1{
    justify-content: right;
    padding-right: 10px;
}

.displayContent{
    font-size: 48px;
    font-weight: bold;
    text-align: right;
}