body{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    min-height: 100vh;
    
}
#container{
    
    
    display: flex;
    flex-direction: column;
    height: 580px;
    width: 400px;
     border: black 2px solid; 
    background-color: rgb(80, 79, 79);
    border-radius: 20px;
    
}
#buttons > * {
    /* flex-grow: 1;
    display: flex; */

}
#display{
    height:   100px;
    margin: 12px;
    background: rgb(200, 247, 200);
    font-size: 48;
    border-radius: 8px;
    border: 1px solid black;
    /* display: flex;
    align-content: flex-end; */

}
.row1 #solar{
    height: 80px;
    width: 190px;
    margin: 5px;
    border-radius: 8px;

    background-color: rgb(8, 8, 105);

}
.row1 button{
    width: 170px;
}
button{
    margin: 5px;
    height: 80px;
    width: 80px;
    background-color: lightgrey;
    border-radius: 8px;
}
.rows{
    /* align-items: stretch; */
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-evenly;
}
.row1{
    justify-content: right;
    padding-right: 10px;
}
